


body{

  box-sizing: border-box;
  background-image: url("../images/grey_sandbag/grey_sandbag.png");
  background-size: fixed;
 
  
}


.center{
  width: 1200px;
  margin:auto;

}


.header{
   background-color:  #ffffff;
  float:left;
  line-height: 70px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: left;
  border-bottom: 2px solid #cccccc;
  height: 100%;
  width: 100%;
  margin:auto;
}

.floatLeft{
  float:left;
  height:73px;
  width:270px;
  margin-left: 25px;
  font-family: 'Georgia', Times, Times New Roman, serif;
  text-align: center;
  font-weight: bold;
  vertical-align: middle;
  padding-top: -30px;
  color:#ffffff;
  background-color: #4aaaa5;
  font-size: 24px;

}


.floatRight{
  float:right;

}

.floatRight a{
  font-size:18px;
  margin-left: 10px;
  height:-10px;

  

}



.floatRight a:hover{
  background-color: #4aaaa5;
  top:10%;
  
}
ul{
  list-style-type: none;
  margin:0px;
  padding:-20px;
  overflow:hidden;


}

li{
  float:left;

}

li a{
  display: inline;
  color: #777777;
  text-align: center;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 24px;
   width:50px;

}



a{
  color: #777777;
  text-decoration: none;
}

.main-container{
   margin:auto;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px; 
    clear:both;

}

.main-contact{
 margin:auto;
    padding: 20px; 
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 40px;
    
    clear:both;

    }

.main-section{
  box-sizing: border-box;
  
  height:480px;
  
  border: 2px #cccccc solid;
  background-color: #ffffff;

  position: relative;
  text-align: left;
  width: 650px;
  top: 30px;
  margin-left: 108px;
  margin-bottom: 50px;

  padding: 20px;

}


#connect-heading {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  color: #4aaaa5;
  padding-top: 20px;
  text-align: center;


}


.aboutheading{
margin-top: -5px;

    color: #4aaaa5; 
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: bold;
  margin-left:20px;
}

#connect-line1{
   margin-top: 15px;
  margin-bottom: 15px;

}

#photo{
 
  width:240px;
  height:140px;
  float:left;
  margin-top:40px;
  margin-right: 12px;
}



#social{
 position: absolute;
  margin-left:800px;
box-sizing: border-box;
  width: 270px;
  padding:5px;

  border: solid 2px #cccccc;
  background-color: #ffffff;
  margin-top:45px;
  margin-bottom: 110px;
  height:200px;
  box-sizing: border-box;
  display:inline;
  float:right;
  width: 270px;
  border: solid 2px #cccccc;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 20px; 
  bottom:300px;
  
 
}


#social1{
position: absolute;
  margin-top:45px;
  margin-bottom: 110px;
  height:200px;
  box-sizing: border-box;
  display:inline-box;
  margin-left: 700px;
  float:right;
  width: 270px;
  border: solid 2px #cccccc;
  padding-left: 31px;
  padding-right: 31px;
  padding-bottom: 20px; 
  bottom:300px;
  background-color: #ffffff;


}




.logo{
 margin-top: 15px;
 height:60px;
  width:60px;

}



.connect {
  font-family: 'Georgia', Times, Times New Roman, serif;
  font-size: 20px;
  color: #4aaaa5;
  padding-top: 20px;
  text-align: center;
  font-weight: bold;


}

#connect-line {
  margin-top: 30px;
  margin-bottom: 15px;
}



/*there is something wrong with the alignment in portfolio */

.mainPortfolio{
  box-sizing: border-box;  
   border: 2px #cccccc solid;
    background-color: #ffffff;
   width:470px;

  float: left;
  clear: right;
   color: #4aaaa5; 
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding:20px;
   margin:50px;
  height: 600px;


}

.portfolio{
  margin-top: 2px;
  color: #4aaaa5; 
  font-family: 'Georgia', Times, Times New Roman, serif;
  padding-bottom: 3px;
  font-size: 25px;
  font-weight: bold;
  margin-left:10px;
  border-bottom-style: solid;
  border-color: #cccccc;
  border-radius: 2px;
 

}


#portfolio-line{
  border-bottom: 2px solid #cccccc;
  margin-top: 10px;
  margin-right: 20px;
} 

.mainLeft{ 
  margin-left: 0px;
  margin-right: 20px;

 
 }

 .mainRight{ 
  margin-left: 20px;
  margin-right: 0px;
 

 }
 .photo1{
   margin-top: 40px;
  margin-bottom: 40px;
  float:left;
  position: relative;

  
 }

 .mainLeft .photo2{
  margin-top: 2px;
  margin-bottom: 10px;
  float: left;
  margin-left: 1px;
  margin-right: 100px;
  position: relative;
 
  
 }

 .mainLeft .photo3{
  margin-top: 40px;
  margin-bottom: 40px;
  float:left;
  margin-left: 1px;
  position: relative;
 

 }
  .mainRight .photo4{
  margin-top: -259px;
  margin-bottom: 40px;
  float:right; 
  position: relative;
 }

 .mainRight .photo5{
 margin-top: -115px;
  margin-bottom: 40px;
  float:right;
  position: relative;
 

 }

 .image{
  width: 200px;
  height: 30px;
  background-color: #4aaaa5;
 position: absolute;
  overflow: hidden;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-style: 20px;
 }

input[type=text], select, textarea{

  width: 100%;  
    padding:25px;
    border: 1px solid #cccccc; 
    border-radius: 2px; 
    box-sizing: border-box; 
    margin-top: 10px; 
    margin-bottom: 16px; 
    resize: vertical 
    color:#a9a9a9;

}

input[type=submit]:hover {
    background-color: #45a049;
}

label {
color: #585858;
font-weight: bold;
font-size: 25px;
display: block;
width: 150px;
float: left;


}

label:after { content: ": " }




.maincontact{
  color:#4aaaa5;
  font-size: 25px;
  font-weight: bold;
  padding: -30px;
  margin:0px;
  margin-top:20px;

}

#contact-line{
  border-bottom: 2px solid #cccccc;
  margin-top: 16px;
    margin-bottom: 2px;
  

}
.form{
padding-top: -70px;
padding-bottom: 50px;
padding:30px;
padding-left: 5px;
}


.main-text{
  font-family: 'Arial';
  color: #585858;
  line-height: 150%;
  float:left;
  

}

.main-text1{
  font-family: 'Arial';
  color: #585858;
  line-height: 150%;
  margin-top:30px;

  
}


#footer{
  width: 100%;
  height: 100px;
  background-color: #666666;
  border-top-style: solid;
  border-color: #4aaaa5 ;
  border-width: 10px;
  color:#ffffff;
  position: absolute;
  bottom: -100px;
  text-align: center;
  padding-bottom: 20px;
  padding-top: 30px;

}



/* Background pattern from Subtle Patterns */
